<launch>

  <param name="use_sim_time" value="false" /> <!-- Used in simulation to manipulate the time. Disabled. -->

  <node name="odom_script" pkg="odom" type="odom_script.py" output="screen"/>
    <param name="print" value="TRUE" />

  <node name="cinematica_script" pkg="odom" type="cinematica_scriptv2.py" output="screen"/>

</launch>
