
<launch>

<param name="use_sim_time" value="false" /> <!-- Used in simulation to manipulate the time. Disabled. -->
  <!-- Launch SARA interface -->
  <node name="SARA_interface" pkg="sara_control" type="hwinterface_script.py" output="screen"  launch-prefix="gnome-terminal --command" />    <!-- Open in a new window -->

  <!-- Load hardware interface -->
  <node name="SARA_control_interface" pkg="sara_control" type="control_node"  output="screen"/>

  <!-- Load controller settings -->
  <rosparam file="$(find sara_control)/config/diff_driver_controller_params.yaml" command="load"/>


    <!-- Load controller manager -->
  <node name="SARA_controller_manager" pkg="controller_manager" type="spawner"
    output="screen"  args="diff_drive_controller" />





</launch>
